.container{
  height:100%;
  width:80%;

  background:var(--blue);
  color:var(--white);
  border-radius:10px;
  margin-bottom:20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;

}
.container strong{
  font-size:18px;
}